@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edf2f7; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:checked + svg {
  display: block;
}
form {
  -webkit-box-shadow: 0px -5px 10px 0px rgba(194,192,194,1);
  -moz-box-shadow: 0px -5px 10px 0px rgba(194,192,194,1);
  box-shadow: 0px -5px 10px 0px rgba(194,192,194,1);
}