/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply flex flex-col mx-auto my-12 items-center bg-white rounded-lg;
  width: 75%;
}

.header {
  @apply px-4 py-3 my-8;
}

.header-text {
  @apply text-center px-4 py-3 font-medium text-2xl;
}

/* sign up section */
.signup {
  @apply sticky w-full bg-white border-b items-center justify-between flex-wrap p-5 m-auto bottom-0 rounded-b-lg;
}
.signup-container {
  @apply max-w-md mx-auto;
}
.signup-container__input {
  @apply border rounded w-full h-12 mb-2 py-2 px-4 text-gray-700 leading-tight bg-gray-200;
}
.signup-container__input:focus {
  @apply outline-none shadow-outline;
}
.signup-container__button {
  @apply w-full bg-blue-500 text-white font-bold text-lg py-2 px-4 rounded;
}
.signup-container__button:hover {
  @apply bg-blue-700;
}
.signup-container__button:focus {
  @apply outline-none shadow-outline;
}

/* Unsub */
.unsub-container {
  @apply text-center px-4 py-3;
}
.unsub-container__input {
  @apply mr-2 leading-tight;
}
.unsub-container__label {
  @apply text-xs opacity-75;
}

/* Modal Content/Box */
.modal {
  @apply fixed w-full h-screen bg-black bg-opacity-50 z-50 top-0;
}
.modal-content {
  background-color: #fefefe;
  margin: 25% auto; /* 15% from the top and centered - couldn't get percentage to work with Tailwind */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-close {
  @apply float-right text-current text-5xl -mt-10 -mr-4;
}

/* List Items */

.listitem {
  @apply max-w-sm w-full px-6 py-5;
}
.listitem-info {
  @apply mt-4 flex-initial mx-auto;
}
.listitem-info__title {
  @apply font-bold font-medium;
}
.listitem-info__description {
  @apply text-base;
}
.listitem-checkbox {
  @apply mt-4 pt-8;
}
.listitem-checkbox__container {
  @apply bg-gray-200 border-2 rounded-full border-gray-400 w-10 h-10 flex flex-shrink-0 justify-center items-center mr-2;
}
.listitem-checkbox__container--checked {
  @apply border-blue-500;
}
.listitem-checkbox__container:focus-within {
  @apply border-blue-500;
}
.listitem-checkbox__container--checkbox {
  @apply opacity-0 w-10 h-10 absolute;
}
.listitem-checkbox__container--svg {
  @apply fill-current hidden text-blue-500 pointer-events-none font-bold;
  height: 50%;
  width: 50%;
}

@media (min-width: 640px) {
  .listitem {
    @apply max-w-full flex;
  }
}

@media (min-width: 768px) {
  .listitem-image {
    @apply flex-shrink-0;
  }
  .listitem-info {
    @apply mt-0 ml-6;
  }
  .listitem-checkbox {
    @apply mt-0 ml-6;
  }
}